.footer{
    margin-top: 1rem;
    padding: 1rem;
    background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1) 100%);
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-link {
    color: white;
    flex-direction: row;
    margin: auto
  }

  .footer-link:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  .footer-div {
    display:flex;
    justify-content: center;
  }
  @media screen and (max-width: 960px) {
    .footer-link {
    color: white;
    flex-direction: row;
    margin: auto;
  }
}
 

  