.portfolio-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 0fr));
    grid-gap: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    padding-bottom: 20px;
}

.card a {
    text-decoration: none;
    color: rgba(3, 43, 223, 0.685);
    font-weight: bolder;
    border: 2px solid rgba(3, 43, 323, .685);
    margin: auto;
    padding: 3px 5px;
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}